@import '../../bootstrap-overrides.scss';

.input-range {
  &__label {
    font-family: inherit;
    font-weight: 500;
    color: white;
    z-index: 1;
    pointer-events: none;

    &--value {
      top: -0.8rem;
      left: 0.1rem;
    }
    &--min, &--max {
      display: none;
    }
  }

  &__slider {
    background: $indigo;
    border: $indigo;
    margin-top: -0.78rem;
    width: 1.2rem;
    height: 1.2rem;

    &.Dark {
      background-color: $blue-dark;
    }
  }

  &__track {
    height: 0.5rem;
    &--active {
      background: $indigo;
    }
  }
}