@import '../../bootstrap-overrides.scss';

.InvalidMessage {
    visibility: hidden;

    .invalid > & {
        visibility: visible;
        color: $red;
        font-size: 10pt;
        font-weight: 500;
    }
}

.DateRangePicker {
    width: 100%;
}

.Dark {
    &
        .DateRangePickerInput,
        .DateInput_input__focused,
        .DateInput_input,
        .CalendarMonthGrid,
        .CalendarMonth,
        .DayPickerNavigation_button__default,
        .DayPicker,
        .CalendarDay__default
    {
        background-color: darken($indigo, 10%);
        transition: background-color 1s ease-in-out;
        color: $white-dark;
    }

    & .DateInput_input::placeholder {
        color: $gray-dark;
    }

    & .CalendarDay__blocked_out_of_range {
        color: $gray-700;
        background-color: shade($indigo, 70%);
    }

    & .CalendarDay__selected_span,
      .CalendarDay__selected,
      .CalendarDay__selected:active,
      .CalendarDay__selected:hover {
        color: $teal-dark !important;
        border-color: $teal-dark !important;
    }
    & .CalendarDay__selected,
      .CalendarDay__selected:active,
      .CalendarDay__selected:hover {
        font-weight: 900;
      }

    & .CalendarMonth_caption {
        color: $white-dark;
    }

    & .DayPickerNavigation_svg__horizontal {
        fill: $white-dark;
    }

    & .DayPicker_weekHeader {
        color: $white-dark;
    }

    & .DateRangePicker_picker {
        background-color: transparent;
    }

    & .DateInput_fangShape  {
        fill: darken($indigo, 10%);
    }
}

.DateRangePickerInput {
    &.DateRangePickerInput__withBorder {
        border: 2px solid $gray-400;
        border-radius: 0.5rem;
        padding: 2px;

        &:focus-within, &:hover {
            box-shadow: 0 0 2px $cyan;
            border-color: $cyan;
        }

        .invalid & {
            border-color: $red;
            box-shadow: 0 0 2px $red;
        }
    }

    & .DateInput {
        width: 140px;
        &_input {
            font-weight: 400;
            &__focused {
                color: $cyan;
                border: none;

                &::placeholder {
                    color: $cyan;
                }
                &:-ms-input-placeholder {
                    color: $cyan;
                }
                &::-ms-input-placeholder {
                    color: $cyan;
                }
            }
        }
    }
}