@import '../../bootstrap-overrides.scss';

.RangeSliderHandle {
  background-color: $indigo;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
  margin-left: -13px;
  height: 24px;
  width: 24px;
  z-index: 1;
  top: -4px;

  &.Dark {
    background-color: $blue-dark;
  }
}


.DefaultBackground {
  background-color: $gray-300;
  border: none;
  border-radius: 1rem;

  &.Dark {
    background-color: $indigo;
  }

  &_background {
    &__horizontal {
      height: 10px;
      left: 0px;
      top: 0px;
    }
  }
}

.DefaultProgressBar {
  &_progressBar {
    background-color: $indigo;
    border-radius: 1rem;
    &.Dark {
      background-color: $blue-dark;
    }
  }


  &_background {
    &__horizontal {
      height: 100%;
    }
  }
}