@import '../../bootstrap-overrides.scss';

.WorkflowStep {
  & h4 {
    color: $gray-600;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;

    & > em {
      font-style: normal;
      color: $pink;
    }    
  }

  &.Dark {
    & > em {
      font-style: normal;
      color: $blue-dark;
    }
    color: $white-dark;
  }
}