@import '../../../bootstrap-overrides.scss';

.RouteResult {
    text-align: center;
    background-color: $gray-100;
    border-radius: 1rem;
    padding: 10px;

    &.Dark {
        transition: background-color 1s ease-in-out;
        background-color: darken($indigo, 10%);
    }

    & .RouteCity {

        & .FlagIcon {
            border-radius: 50%;
            box-shadow: 0 0px 4px 3px $cyan;
            margin: 7px;

            &.Dark {
                box-shadow: 0 0px 4px 3px darken($indigo, 10%);
            }
        }

        & .CityLabel {
            font-weight: 700;
            color: $indigo;

            &.Dark {
                color: $white-dark;
            }
        }

        & .DateLabel {
            font-weight: 500;
            color: $green;
            font-size: 11pt;
        }
    }

    & .RouteSign > img {
        width: 100%;
    }
}