@import "../variables";

.WelcomePage {
    width: 100vw;
	background: linear-gradient(135deg, $blue 0%, $cyan 100%);
	overflow: hidden;

	& h3 {
		color: white;
		text-align: center;
		line-height: 50px;
		cursor: pointer;
	}
}