@import '../../bootstrap-overrides.scss';

.InvalidMessage {
    visibility: hidden;

    .invalid > & {
        visibility: visible;
        color: $red;
        font-size: 10pt;
        font-weight: 500;
    }
}

.DateRangePicker {
    width: 100%;
}

.DateRangePickerInput {
    &.DateRangePickerInput__withBorder {
        border: 2px solid $gray-400;
        border-radius: 0.5rem;
        padding: 2px;

        &:focus-within, &:hover {
            box-shadow: 0 0 2px $cyan;
            border-color: $cyan;
        }

        .invalid & {
            border-color: $red;
            box-shadow: 0 0 2px $red;
        }
    }

    & .DateInput {
        width: 140px;
        &_input {
            font-weight: 400;
            &__focused {
                color: $cyan;
                border: none;

                &::placeholder {
                    color: $cyan;
                }
                &:-ms-input-placeholder {
                    color: $cyan;
                }
                &::-ms-input-placeholder {
                    color: $cyan;
                }
            }
        }
    }
}