@import '../../bootstrap-overrides.scss';

.MultiCitySelector {
  line-height: 2;

  &__InvalidMessage {
    color: $red;
    font-size: 10pt;
    font-weight: 500;
  }

  & > &__menu {
    margin-top: -1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &.invalid > .MultiCitySelector__control {
    box-shadow: 0 0 2px $red;
    border-color: $red;
  }

  & > &__control {
    border: 2px solid $gray-400;

    &--is-focused, &:hover {
      box-shadow: 0 0 2px $cyan;
      border-color: $cyan;
    }

    &--menu-is-open {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  &__value-container > &__multi-value {
    border-radius: 4px;
    font-weight: 500;
    background-color: $green;
    color: white;
  }

  &__multi-value {
    & > &__label {
      color: white;
      padding: 3px 8px;
    }

    & > &__remove {
      padding-right: 6px;
      padding-left: 6px;
      background-color: darken($green, 5%);

      &:hover {
        background-color: darken($green, 15%);
        color: $teal;
      }
    }
  }
}