.TravelPlannerWorkflow {
  overflow: hidden;
  flex-grow: 1;
  position: relative;

  #WorkflowContent {
    overflow-y: scroll;
    height: 100%;

    & > .FaderGradient {
      height: 100px;
      z-index: 2;
      width: 100vw;
      pointer-events: none;
      @media screen and (min-width: 768px) {
        right: 20px;
      }
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 15%,  rgba(255, 255, 255, 0.6) 65%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
    }
  }
}
