@import "../../variables";

.WelcomePhrase {
	color: white;

	& em {
		transition: color 1.5s ease-in;
		color: $indigo;
		font-style: normal;
	}

	&.Dark em {
		transition: color 1.5s ease-in;
		color: $blue;
	}
}

.WelcomePhraseIntroduction {
	font-weight: bold;
}
