$blue:    #1B9CFC;
$indigo:  #182C61;
$purple:  #3B3B98;
$pink:    #FC427B;
$red:     #B33771;
$orange:  #F97F51;
$yellow:  #EAB543;
$green:   #58B19F;
$teal:    #55E6C1;
$cyan:    #25CCF7;

$primary: $pink;