$blue:        #1B9CFC;
$blue-dark:   #3299e6;
$indigo:      #182C61;
$indigo-dark: #1f2f5a;
$purple:      #3B3B98;
$purple-dark: #44448f;
$pink:        #FC427B;
$pink-dark:   #e95582;
$red:         #B33771;
$red-dark:    #a74372;
$orange:      #F97F51;
$orange-dark: #e88762;
$yellow:      #EAB543;
$yellow-dark: #d9af54;
$green:       #58B19F;
$green-dark:  #61a89a;
$teal:        #55E6C1;
$teal-dark:   #64d7ba;
$cyan:        #25CCF7;
$cyan-dark:   #3ac0e2;
$white-dark:  #DEDEDE;

$primary: $pink;