@import "../../bootstrap-overrides.scss";

button.AdvancedFiltersButton {
  position: absolute;
  z-index: 3;
  left: 15px;
  top: 15px;
  border: none;

  > svg {
    height: 2em;
    width: 2em;
  }
}
