@import '../../bootstrap-overrides.scss';


.AdvancedFiltersSidebar {
  z-index: 4 !important;
  background: white;

  &.Dark {
    background: darken($indigo, 10%);
    color: $white-dark;
  }
}

button.AdvancedFiltersButton {
  position: absolute;
  z-index: 3;
  left: 15px;
  top: 15px;
  border: none;
  transition: background-color 1.5 ease-in-out, color 1.5 ease-in-out;

  > svg {
    height: 2em;
    width: 2em;
  }

  &.Dark {
    color: $blue-dark;

    &:hover {
      background-color: $blue-dark;
      color: darken($indigo, 15%);
    }

    &:active {
      background-color: $blue-dark !important;
      color: darken($indigo, 15%) !important;
      box-shadow: 0 0 0 0.2rem rgba($blue-dark, 0.5) !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($blue-dark, 0.5);
    }
  }
}
